<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="C:\Users\Vovan\Desktop\Flask_disignet\css\index.css">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href={{url_for('static', filename='index.css')}}>

    <title>{%block title%}{%endblock%}</title>

</head>


<body>
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-dark">
    <a class="navbar-brand" href="#"><span class="words">Soft Store</span> </a>
    <button class="navbar-toggler" id="btnv" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id="word1" href="#"><span class="words">Главная страница</span> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link words" href="#"><span class="words">Все товары</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link words" href="#contact" tabindex="-1" aria-disabled="true"><span class="words">Контакт</span></a>
        </li>
      </ul>
    </div>
  </nav>

{%block body%}{%endblock%}

<footer class="container pt-4 my-md-5 pt-md-5">
  <div class="row">
    <div class="col-6 col-md">
      <h2 id="contact">Контакт</h2>
      <ul id="list" class="list-unstyled text-small ">
        <li><img src="static\img\Mail.jpg" width="30px" class="img-responsive"><b>Email:</b> Sucharik@gmail.com</li>
        <li><img src="static\img\Phone.jpg" width="30px" class="img-responsive"><b>Телефон:</b> +48 733 897 364</li>
        <li><img src="static\img\Facebook.jpg" width="30px" class="img-responsive"><b>Facebook:</b><a class="address" href="https://www.facebook.com/oleh.khristiuk"> facebook.com/oleh.khristiuk
          </a>
        </li>
        <li><img src="static\img\Instagram.jpg" width="30px" class="img-responsive"><b>Instagram:</b><a class="address" href="#"> oleh.khristiuk</a></li>
      </ul>
    </div>
  </div>
</footer>
</body>

</html>